body {
    background-color: #666666;
    width: 80%;
}
html {
  font-family: "Open Sans",sans-serif !important;
}

.title_header {
  color: white;
  width: 85%;
  font-family: "Tangerine",sans-serif !important;
  font-size: 3em;
  text-align: center;
  position: relative;
  bottom: 10px;
}
aside {
  page-break-inside: auto;
  float: right;
  	width: 230px;
  	padding: 20px;
  	margin-top: 30px;
  	margin-left: 20px;
  	background: #004d00;
    font: 4em;
}
.sidebar {
  font: 1em;
  font-style: oblique;
  font-family: "Open Sans",sans-serif !important;
}
footer {
	position: relative;
	/*top: 12%;*/
	clear: both;
	z-index: 4;
	text-align: center;
	max-width: 100%;
	/*padding: 40px 180px;*/
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

nav {
	padding: 5px;
	width: 70%;
	display: block;
	white-space: nowrap;
  text-align: center;
  position: absolute;
    left: 10px;
    top: 82px;
}

nav ul {
	margin: 0;
	padding: 5px;
	font-size: 18px;
	list-style-type: none;
}

nav li {
	display: inline;
	padding: 5px 15px;
}

nav li a, nav li a:hover, nav li a:visited {
	text-decoration: none;
	color: #22A39F;
}

nav li:hover {
	text-decoration:none;
	border-bottom: 3px solid #D3C7B3;
}

nav li.active {
	text-decoration: none;
	font-weight: 600;
	color: #22A39F;
	border-bottom: 3px solid #D3C7B3;
	background: #ddd;
}

.table_title {
  font-style: italic;
  font-weight: bold;
}
.half {
	position: relative;
	width: 49.9999%;
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.profile_pic {
  width: 40%;
  height: 40%;
  float: right;
  margin-left: 40px;
  padding-left: 40px;
}
#comptia {
  float: none;
  position: relative;
  width: 20%;
  height: 20%;
}
#redhat {
  float: none;
  position: relative;
  left: 3px;
}
img.cat {
  float:left;
  width: 30%;
  height: 30%;
}
ol {
  list-style-type: upper-roman;
}
.half ul {
  list-style-position: inside;
  list-style-type: square;
}
p.clear {
    clear: both;
}
table.certtable {
  font-size: 1em;
  font-weight: normal;
  table-layout: fixed;
  border: 1px solid black;
}
.certtable th {
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
  border: 1px solid black;
}
.list_header {
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
}
